html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 19px;
  color: rgba(129, 129, 129, 0.6) !important;
}

.mod-banner{
  background-image: url("images/Layer11.png");
  /* height: 562px; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 2px solid #bbbbbb;
  border-bottom: 2px solid #bbbbbb;
}
.mod-form{
  background-image: url("images/Rectangle15.png");
  /* height: 137px; */
}
.bg-color-form{
  background-color: #e4f4eb !important;
}
.mod-form-text > input button select, button{
  font-size: 16px !important;
}
.mod-vertical-line{
  width: 1px;
  height: 50px;
  background-color: #00964c;
}
.title-color{
  color: #00964c;
}

.mod-content-1-content, .mod-content-2-content, .mod-content-3-content{
  line-height: 35px;
  margin: 30px 0;
}
.line-horizontal-content{
  height: 2px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 48px;
}
.mod-quotes{
  line-height: 27px;;
}
.mod-form-footer{
  background-image: url("images/Layer41.png");
  /* height: 465px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.button-send{
  width: 12rem;
}
.mod-footer{
  background-color: #1f1e23;
}
.mod-footer nav{
  border-bottom: 1px solid rgba(213, 200, 200, 0.5);
}

.mod-info{
  line-height: 30px;
  font-size: 15px !important;
}
.mod-nav-ul a{
  font-size: 13px !important;
  font-weight: bold;
}
.mod-banner-content{
  border-right: 1px solid rgba(213, 200, 200, 0.5);
  border-bottom: 1px solid rgba(213, 200, 200, 0.5);
}
.mod-nav-ul-footer{
  font-size: 13px;
}

/*  ------------ mobile ------------  */
/* xs - sm - md*/
@media only screen and (max-width: 992px) {
  .fs-38{
    font-size: 38px !important;
  }
  .fs-16{
    font-size: 16px !important;
  }
  .border-none{
    border: 0 !important;
  }
  .w-img-180{
    width: 180px !important;
  }
}
/* xs - sm*/
@media only screen and (max-width: 768px) {
  .fs-13{
    font-size: 13px !important;
  }
  .mod-des-px-15{
    padding: 0 15px;
  }
}
/* xs */
@media only screen and (max-width: 576px) {
  .fs-30{
    font-size: 30px !important;
  }
}
/* md - lg -xl */
@media only screen and (min-width: 768px) {
  .mod-banner-height{
    height: 562px;
  }
  .mod-des-px-80{
    padding: 0 80px;
  }
}

/*  */
.mod-fixed{
  position: fixed;
  z-index: 1000;
  width: 100%;
}
header{
  padding-top: 57px;
}